main{
    width: 800px;
    height: 600px;
    padding: 5px;
}
.wrapper{
  width:100%;
}
body{
    margin: 0;
    background: #6694cb;
    text-align: center;
}
h1{
    border-bottom: 5px solid #b5bfc7;
    border-left: 5px #b5bfc7;
    border-right: 5px #b5bfc7;
    font-family: ui-rounded;
}
h2{
    display:inline-block;
    vertical-align: right;
    text-align: left;
    align: right;
    word-wrap:normal;
    width: 750px;
    height: 200px;
    font-size: 30px;
    font-family: ui-rounded;
    font-weight: normal;
    
}
h3{
    border-left: 5px #b5bfc7;
    border-right: 5px #b5bfc7;
}
h4{
  display:inline-block;
  vertical-align: left;
  text-align: left;
  align: left;
  word-wrap:normal;
  width: 750px;
  height: 200px;
  font-size: 30px;
  font-family: ui-rounded;
  font-weight: normal;
}
p{
  font-weight: bold;
  font-size: 25px;
}
.img_deg{
    float: left;
}
.img_degRight{
  float: right;
}
.gif_degRight{
  float: right;
  max-width:1000px;
  max-height:1000px;
  height: 1000px;
  width: 1000px;
}
.gif_deg{
  float: left;
  max-width: 1000px;
  max-height:1000px;
  height: 1000px;
  width: 1000px;
}
.pos_cen{
    position: absolute;
    left: 15%
}
.proj-info p{
 font-weight: normal;
}
.proj-info h2{
  padding: 1px 1px 1px;
 }
/* Slideshow Code from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto*/ 
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    float: left;
    margin: auto;
  }
  .slideshow-container2 {
    max-width: 1000px;
    position: relative;
    float: left;
    margin: auto;
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: top;
    top: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    height: 0px;
    width: 0px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .dot2 {
    height: 0px;
    width: 0px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
  @media only screen and (min-width: 280px)
  {
    .h2{font-size: 10px}
    .h4{font-size: 10px}
    .gif_deg{max-width: 500px;}
    .gif_degRight{max-width: 500px;}
    .gif_deg{max-height: 250px;}
    .gif_degRight{max-height: 250px;}
    .slideshow-container{max-width: device-width;}
    .slideshow-container2{max-width: device-width;}

  }
  @media only screen and (min-width: 768px)
  {
    .h2{font-size: 20px}
    .h4{font-size: 20px}
    .gif_deg{max-width: 800px;}
    .gif_degRight{max-width: 800px;}
    .gif_deg{max-height: 400px;}
    .gif_degRight{max-height: 400px;}

  }
  .mySlides {display: none;}
  .mySlides2 {display: none;}